- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= restaurant.name
    = link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}"
- else
  No restaurants yet


= link_to 'Add a restaurant', '/restaurants/new'
